<section class="container-detail">
    <h2>Detalles de la Venta</h2>

    <table class="tabla">
        <thead>
            <tr class="">
                <th class="title-names"> Nombre de la Empresa </th>
                <th class="title-finalPrices"> Persona </th>
                <th class="title-commission"> Día </th>
                <th class="title-details"> Hora </th>
                <th class="title-details"> Valor venta </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let sale of arrayData"> 
                <td>{{sale.name}}</td>
                <td>{{sale.people}}</td>
                <td>{{sale.day}}</td>
                <td>{{sale.hour}}</td>
                <td>{{sale.sales}}</td>
            </tr>
        </tbody>
        
    </table>
    <p class="total"> Total Ventas: {{total}}</p>
</section>
